<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input class="block px-5 py-3 w-full rounded-md bg-zinc-700" type="text" placeholder="Task Name.."/>
                <textarea class="block mt-3 px-5 py-3 w-full rounded-md resize-none bg-zinc-700 " placeholder="Write your descripton.." name="title"></textarea>
                <input class="cursor-pointer px-3 py-3 mt-3 rounded-md bg-blue-600 " type="submit" value="Save" name="descripton"/>
            </form>
        </div>
        <div class="p-10 flex flex-wrap gap-4 ">
            <% if(files.length){ %>
            <% files.forEach((val)=>{  %>
                <div class="w-70  py-4 px-3 bg-zinc-700 rounded-md ">
                    <h1 class="text-white tracking-tighter"><%=val%></h1>
                    <a class="text-blue-600 inline-block mt-3" href="/file/<%= val %>">Read More..<a>
                </div>
            <% })  %>
            <% } else { %> 
                <h1 class="bg-zinc-700 py-2 px-2 rounded-md">No Tasks yet</h1>
            <% }  %>   
        </div>
    </div>
</body>
</html>