<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 w-full h-screen text-white">
        <h1 class="font-bold pt-10 px-6">Login</h1>
        <form action="/auth" method="post">
            <input type="text" placeholder="UserName" name="userName" class="bg-transparent bg-zinc-700 ml-5 mr-1 rounded-lg w-34 h-10 p-2 outline-none"/>
            <input type="text" placeholder="Email" name="email" class="bg-transparent bg-zinc-700 mr-1 rounded-lg w-34 h-10 p-2 outline-none"/>
            <input type="password" placeholder="Password" name="password" class="bg-transparent bg-zinc-700 mr-1 rounded-lg w-34 h-10 p-2 outline-none"/>
            <input type="submit" placeholder="login"  class=" bg-blue-600 m-5 rounded-lg w-34 h-10 p-2 outline-none cursor-pointer"/>
        </form>
        <h1 class=" pt-10 px-6">Don't have account ? :->
            <a class="ml-6 p-3 rounded-xl bg-zinc-700" href="/">Signup</a>
         </h1>
    </div>
</body>
</html>