<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 w-full h-screen text-white">
        <h1 class="font-bold text-3xl pt-4 px-6 mb-2">Welcome User to profile</h1>
        <h5 class=" px-6 mb-2">Create your posts</h5>
        <form action="/post" method="post">
        <textarea class="w-1/3 h-32 ml-5 p-2 block outline-none bg-zinc-700 resize-none rounded-xl "
         placeholder="What's in your mind?.." name="content"></textarea>
         <input class="bg-blue-600 w-32 ml-80 mt-2 p-2 rounded-xl block cursor-pointer" type="submit" value="Save" />
        </form>

        <h5 class=" px-6 ">Your posts:</h5>
        <% user.posts.forEach((post)=>{ %>
        <div class="bg-zinc-700 w-1/2 mt-2 ml-5 mb-2 p-2 rounded-lg ">
            <h2>@<%= user.userName %></h2>
            <p><%= post.content %></p>
            <input class="text-blue-500 mt-2 cursor-pointer" type="submit" name="like" value="Like" />
            <input class="text-zinc-500 mt-2 cursor-pointer ml-4" type="submit" name="edit" value="edit" />
        </div>
        <% })%>
        
    </div>
</body>
</html>