<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full h-screen bg-zinc-900 p-8 text-white">
        <div class=" text-blue-600">
            <a href="/">Create More</a>
        </div>
        <h1 class="font-semibold text-3xl mb-5 ">All Registered Users</h1>
        <div class="users flex gap-3 flex-wrap">
            <% users.forEach((e)=>{ %>
            <div class="users w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 bg-slate-600 rounded-lg overflow-hidden">
                    <img class="w-full h-full object-cover object-center" src="<%= e.url %>" alt=""/>
                </div>
                <div class=" mt-2 mb-1 text-xl tracking-tighter"> <%= e.userName %></div>
                <div class=" text-xs text-zinc-500"> <%= e.email %></div>
                <div class="flex gap-7 mt-10 font-semibold cursor-pointer">
                    <a class="text-zinc-300 " href="">Edit User</a>
                    <a class="text-red-400 " href="">Delete User</a>
                </div>
            </div>
       <% }) %>
        </div>
    </div>
    
</body>
</html>